@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$clr1: white;
$clr2: black;
$clr3: #0064DA;
$ft-size1: 40px;
$ft-size2: 30px;
$ft-size3: 24px;
$ft-size4: 16px;
$ft-size5: 14px;
$ft-size6: 10px;
$ft-size7: 8px;

html,
    body {
    margin: 0 auto;
    min-width: 430px;
    max-width: 768px; 
    background-color: $clr1;
    font-family: "Inter", sans-serif;
    }

